[data-wordlet] {
    outline: 4px dotted rgba(255, 0, 0, .5) !important;
    outline-offset: -2px;
}

[data-wordlet]:hover {
    position: relative;
}

[data-wordlet] .wordlet_links:focus,
[data-wordlet] .wordlet_links:active,
[data-wordlet]:hover .wordlet_links {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    width: auto;
    background: #fff;
    font-size: 16px;
    font-weight: normal;
    left: 0;
    top: 0;

    outline: 4px dotted rgba(255, 255, 0, .5) !important;
    outline-offset: -2px;
}

[data-wordlet-configured="true"] {
	outline-color: rgba(0, 0, 255, .5) !important;
}

[data-wordlet-configured="false"]:before {
	content: "Add " attr(data-wordlet-name);
}

[data-wordlet] .wordlet_links a {
    text-decoration: underline !important;
    display: block !important;
    text-align: left !important;
    white-space: nowrap !important;
}

[data-wordlet] .wordlet_links a:hover,
[data-wordlet] .wordlet_links a:focus {
    background: yellow !important;
}

.wordlet-edit {
    color: blue !important;
}

.wordlet-configure {
    color: red !important;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.wordlet_links {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
